.button {
  font-family: var(--first-semiBold), sans-serif;
  border: 1px solid var(--button-color);
  color: var(--button-color);
  padding: 15px;
  max-height: 50px;
  border-radius: 16px;
  text-align: center;
}
