.title {
  font-family: var(--first-extraBold);

  font-size: 36px;
}

.title-logo {
  font-family: var(--first-black);
  letter-spacing: 0.01em;
  font-size: 24px;
  text-transform: uppercase;
}

.filter-title {
  font-family: var(--first-bold);
  font-size: 22px;
  margin-bottom: 20px;
}

.sub-title-logo {
  color: var(--subtitle-color);
}

.category-title {
  font-family: var(--first-medium);
  text-align: center;
}

.category-title-active:active {
  padding: 15px;
}
