.header {
  border-bottom: 1px solid var(--border-color);
}

.header-inner {
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}
